/* Masonry section component */
.section-masonry {
  column-gap: 1em;
  columns: 3 242px;
  margin-block-start: -1em;
  text-align: right;
}

.section-masonry-item {
  break-inside: avoid;
  padding-block-start: 1em;
}

.section-masonry-image {
  height: auto;
  max-width: 100%;
}
